<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:p="http://primefaces.org/ui">
 
   <h:head>
    
    <title>
      APP
    </title> 
    <h:outputStylesheet library="css" name="bootstrap.min.css" />  
    <h:outputStylesheet library="css" name="style.css" />
     
    <h:outputScript library="js" name="main.js" />  
    
  </h:head>
 
</ui:composition>