<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:p="http://primefaces.org/ui">
 
   <h:form>  
    <p:growl id="messages"/>
        <p:menubar>
        <p:menuitem value="Главная" outcome="success"  />
        <p:menuitem value="Расчеты" outcome="calcing"  />
        <f:facet name="options">
            <p:link type="button" value="Профиль"  outcome="profile" style="margin-right: 12px;"  > </p:link>
            <p:commandButton value="Выход" action="#{login.doLogout}" />
        </f:facet>
        </p:menubar>
    </h:form>
 
</ui:composition>