<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/template/cabinet.xhtml">

    <ui:define name="header">
        <ui:include src = "/parts/breadcrumb.xhtml" >
            <ui:param name="namePage" value="Расчеты" />
            <ui:param name="nameURL" value="calcing" />
        </ui:include>
    </ui:define>

    <ui:define name="content">

        <div class="site-container">
            <br/>

            <h:form>
                <div class="row" style="border: 1px solid #dedede;width: 100%;margin-left: 0;padding: 12px;align-items: center;"> 
                    <div class="col-9"> 

                        <p:outputLabel for="typecalc" value="Вид расчета:" />
                        <p:selectOneRadio id="typecalc" value="#{calc.typeCalc}">
                            <f:selectItem itemLabel="Любой" itemValue="any" />
                            <f:selectItem itemLabel="Гельмгольц" itemValue="helmholtz" />
                            <f:selectItem itemLabel="Перенос вещества" itemValue="transportsub" />
                        </p:selectOneRadio>

                    </div>
                    <div class="col-3" style="display: flex; justify-content: flex-end; align-items: flex-start;"> 
                        <p:commandButton value="Обновить/Фильтр" action="#{calc.update}"  ajax="false" />
                    </div>    
                </div>

                <p:dataTable var="tabl" value="#{calc.data}">
                    <p:column headerText="id"> 
                        <h:outputText value="#{tabl[0]}" />
                    </p:column>

                    <p:column headerText="Название задачи">
                        <h:outputText value="#{tabl[1]}" />
                    </p:column>

                    <p:column headerText="Тип расчета ">
                        <h:outputText value="#{tabl[2]}" />
                    </p:column>

                    
                    <p:column headerText="args">
                        <h:outputText value="#{tabl[6]}" />
                    </p:column>
                    
                    <p:column headerText="Статус">
                        <h:outputText value="#{tabl[7]}" />
                    </p:column>

                    <p:column headerText="Options" > 
                        <div style="height: 100%;display: flex; justify-content: space-between; align-items: center">
                            
                            
                            <p:commandButton value="Скачать" action="#{calc.download(tabl[0], tabl[1])}" style="font-size: 14px;"  ajax="false" />
                            <p:commandButton value="Удалить" action="#{calc.deleteDataRow(tabl[0])}" style="font-size: 13px;" ajax="false" />
                        </div>

                    </p:column>

                </p:dataTable>
            </h:form>

            <p:tabView> 
                <p:tab title="Расчет по Гельмгольцу">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:form> 
                            <p:inputText value="#{calc.inputHelmgoltzNameFile}" style="margin-right: 12px;" placeholder="Название" required="true" /> 
                            <p:inputText value="#{calc.inputHelmgoltzEps}" style="margin-right: 12px;" placeholder="eps" required="true" />
                            <p:inputText value="#{calc.inputHelmgoltzK}" style="margin-right: 12px;" placeholder="k" required="true" />
                            
                            <hr />
                            
                            <div id="inputs"></div>
                            <br/>
                              <a href="#" id="add" >Добавить отверстие</a><br/><br/>
                              
                            <div id="jsonholes" style="display: none;">  
                              <p:inputText value="#{calc.inputHelmgoltzHoles}" style="margin-right: 12px;" placeholder="resjson" required="true" />
                            </div>
                            
                           
                            <p:commandButton value="Запустить расчет" action="#{calc.sendTaskHelmholtz}"  ajax="false" />
                        </h:form>
                        
                            
                        
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Расчет переноса вещества">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:form>
                            <p:outputLabel for="helmgoltz_choice" value="Выбор расчета Гельмгольца:" />
                            <p:selectOneMenu id="helmgoltz_choice" value="#{calc.helmgoltz_choice}" effect="fold" editable="true" required="true">
                                <f:selectItem itemLabel="Выберите расчет" itemValue="" />
                                <f:selectItems value="#{calc.helmgoltz_choices}" />
                            </p:selectOneMenu>
                            <br/><br/>
                            <p:inputText value="#{calc.inputTransportSubNameFile}" style="margin-right: 12px;" placeholder="Название" required="true" />
                            <p:inputText value="#{calc.inputTransportSubM}" style="margin-right: 12px;" placeholder="m" required="true" />
                            <p:inputText value="#{calc.inputTransportSubD }" style="margin-right: 12px;" placeholder="D" required="true" />
                            <p:inputText value="#{calc.inputTransportSubEndTime }" style="margin-right: 12px;" placeholder="end time" required="true" />
                            <br/>
                            <p:commandButton value="Запустить расчет" action="#{calc.sendTaskTransportSub}" ajax="false"  />
                        </h:form>
                    </h:panelGrid>
                </p:tab>

            </p:tabView>
        </div>
    </ui:define>

</ui:composition>