<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
   <h:head>
      <title>Failure</title>
   </h:head>
   <h:body>

    <div id="resultErr">
        <span id="invalidCre" class="errorText">Ошибка авторизации</span>
        
        <a href="#{request.contextPath}"> Вернуться </a>
    </div>
</h:body>

</html>