<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:p="http://primefaces.org/ui"
   template="/template/layout.xhtml">
 
  <ui:define name="content">
      <div class="site-login" >
        <h:form class="site-login-form">

            <p:inputText value="#{login.name}" placeholder="Ваш логин" />
            
            <p:password value="#{login.password}" placeholder="Ваш пароль"/>
            <p:commandButton value="Авторизоваться" action="#{login.doLogin}"  />
        </h:form>
      </div> 
       <!-- 
       <p:outputPanel>
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">4</div>
                <div class="ui-grid-col-8">8</div>
            </div>
        </div>
    </p:outputPanel> -->
  </ui:define>
 
</ui:composition>